@charset "utf-8";
* {
	box-sizing: border-box;
	font-family: "BIZ UDゴシック","UD Shin Go NT Light JIS2004","UD デジタル 教科書体 N-R", Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
	position:relative;
}

#sharedMap > div {
	padding:32px;
}

.shared-map-context-menu-character,
.shared-map-context-menu-map {
	position:absolute;
	background-color:rgba(100,100,100,0.9);
	color:white;
}

.shared-map-character-append-window {
	left:50px;
	top:50px;
	padding:8px;
	position:fixed;
	background-color:rgba(100,100,100,0.9);
	color:white;
}

.shared-map-character-append-window > button {
	margin-top:4px;
}

.shared-map-context-menu-character > div,
.shared-map-context-menu-map > div {
	border-bottom: 1px solid black;
	padding:4px;
}

.shared-map-context-menu-character > div:hover,
.shared-map-context-menu-map > div:hover {
	background-color:rgba(200,200,200,0.9);
	color:black;
}

#sharedMap-menu {
	position:absolute;
	top:4px;
	right:32px;
	
}

#sharedMap-menu-toggle {
	position:absolute;
	top:0px;
	right:0px;
	border:2px gray outset;
}

#sharedMap-menu-body {
	position:absolute;
	top:18px;
	right:0px;
	width:320px;
	border:2px black solid;
	background-color:rgba(100,100,100,0.9);
	color:white;
}

.sharedMap-menu-body-button,
.sharedMap-menu-body-notButton {
	padding:4px;
}

.sharedMap-menu-body-button:hover {
	background-color:rgba(200,200,200,0.9);
	color:black;
}

#sharedMap-menu-toggle:hover {
	border:2px gray inset;
	background-color: #E0E0E0;
}

#sharedMap-map {
	border:2px black solid;
	height: 5000px;
	width: 5000px;
	overflow:hidden;
}

.sharedMap-map-character {
	position:absolute;
	height:40px;
	width:40px;
	border:1px solid black;
	border-radius:20px;
	text-align:center;
	font-size:50%;
}

#sharedMap-map-range {
	position:absolute;
}


.sharedMap-map-range-circle {
	position:absolute;
	border:1px solid red;
	text-align:center;
}

.sharedMap-map-range-circle > span {
	position:absolute;
	right: 4px;
}

.sharedMap-map-range-line {
	margin-top:0px;
	margin-bottom:0px;
	position: absolute;
	width:20000px;
	transform-origin:left top;
}

.sharedMap-map-range-text {
	position: absolute;
	background-color:rgba(255,255,255,0.9);
}