@charset "utf-8";

* {
	box-sizing: border-box;
	font-family: "BIZ UDゴシック","UD Shin Go NT Light JIS2004","UD デジタル 教科書体 N-R", Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}

#buffer-table {
	display:flex;
}

#io-github-shunshun94-trpg-bufferTable-characters {
	min-width:700px;
	max-width:700px;
}

.io-github-shunshun94-trpg-bufferTable-characters-list-character-buffs {
	width:600px;
	background-color:lavender;
	padding:4px;
}

.io-github-shunshun94-trpg-bufferTable-characters-list-character-buffs-buff {
	background-color:white;
	border:2px black solid;
	border-radius: 8px;
	padding:4px;
	margin-top:4px;
	margin-bottom:4px;
	user-select: none;
}

#io-github-shunshun94-trpg-bufferTable-buffstore {
	width:600px;
	position:fixed;
	left:800px;
	top:4px;
	bottom:4px;
	overflow: scroll;
}

#io-github-shunshun94-trpg-bufferTable-buffstore-store > div {
	min-height:300px;
	border-radius: 8px;
	background-color:lavender;
	padding:4px;
}

.io-github-shunshun94-trpg-bufferTable-buff {
	background-color:white;
	border:2px black solid;
	border-radius: 8px;
	padding:4px;
	margin-top:4px;
	margin-bottom:4px;
	user-select: none;
}

#io-github-shunshun94-trpg-buffstore-buffs-adder-from {
	width:60px;
}