	* {
		box-sizing: border-box;
	}
	
	table.columnFixedTable {
		position:absolute;
		overflow:scroll;
		top: 20px;
		left: 20px;
		width: 400px;
		height: 315px;
		display:block;
	}

	table.columnFixedTable > * {
		position:absolute;
	}

	table.columnFixedTable > thead {
		left:auto;
		top:auto;
	}

	table.columnFixedTable > tbody {
		top: 62px;
		overflow:scroll;
		height:240px;
	}

	table.columnFixedTable tr {
		display:block;
		width:1522px;
		position: relative;
	}

	table.columnFixedTable td {
		vertical-align: top;
		width: 100px;
		height: 60px;
		left: 100px;
		background-color: #EEEEEE;
		position: relative;
	}
	
	table.columnFixedTable > thead > tr > td {
		background-color: #BBFFFF;
	}

	table.columnFixedTable td:nth-child(1) {
		background-color: #BBFFFF;
		position: absolute;
		left:0;
		top:2px;
		z-index:1;
	}